<!doctype html>
<html lang="da">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Basic framework" />
  <meta name="author" content="Rene Petersen" />

  <title>Basic framework</title>
</head>
<body>
    <div id="content">
        {block content}{/block}
    </div>
</body>
</html>